* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Mono";
    font-size: 12px;
    min-height: 0;
}

@keyframes blink {
    to {
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
}

window#waybar.top {
    color: rgb(255, 255, 255);
    background: transparent;
}

window#waybar.bottom {
    color: rgb(255, 255, 255);
    background: transparent;
}

tooltip {
    background: rgb(0, 0, 0);
    border-radius: 4px;
    padding: 64px;
}

tooltip label {
    color: rgb(255, 255, 255);
}

.warning {
    color: rgb(235, 117, 0);
}

.critical {
    color: rgb(225, 165, 109);
}

#workspaces {
    color: rgb(255, 255, 255);
    background: transparent;
}

#workspaces button {
    background: transparent;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    background: transparent;
    opacity: 0.32;
}

#workspaces button:hover {
    color: rgb(255, 255, 255);
    background: transparent;
}

#workspaces button.active {
    color: rgb(255, 255, 255);
    background: transparent;
    opacity: 1;
}

#custom-battery.charging {
    color: rgb(255, 255, 255);
}

#custom-battery.charging-warning {
    color: rgb(251, 204, 112);
}

#custom-battery.charging-critical {
    color: rgb(225, 165, 109);
    animation-name: blink;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-battery.discharging {
    color: rgb(255, 255, 255);
}

#custom-battery.discharging-warning {
    color: rgb(251, 204, 112);
}

#custom-battery.discharging-critical {
    color: rgb(225, 165, 109);
    animation-name: blink;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-weather.extreme-cold {
    color: rgb(162, 136, 240);
}

#custom-weather.very-cold {
    color: rgb(104, 145, 236);
}

#custom-weather.cold {
    color: rgb(96, 173, 220);
}

#custom-weather.cool {
    color: rgb(107, 178, 106);
}

#custom-weather.mildly-cool {
    color: rgb(104, 187, 165);
}

#custom-weather.mild {
    color: rgb(107, 178, 106);
}

#custom-weather.warm {
    color: rgb(187, 192, 104);
}

#custom-weather.warm-hot {
    color: rgb(251, 204, 112);
}

#custom-weather.hot {
    color: rgb(244, 158, 102);
}

#custom-weather.extreme-hot {
    color: rgb(225, 165, 109);
}

#custom-weather.zero {
    color: rgb(255, 255, 255);
}

#custom-waynot {
    margin: 16px;
    margin-top: 0px;
    margin-bottom: 12px;
    color: rgb(255, 255, 255);
    animation-name: blink;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-gpu.hybrid {
    color: rgb(255, 255, 255);
}

#custom-gpu.intel {
    color: rgb(255, 255, 255);
    opacity: 0.24;
}

#custom-idle.on {
    color: rgb(255, 255, 255);
}

#custom-idle.off {
    color: rgb(255, 255, 255);
    opacity: 0.24;
}

#custom-fan.auto {
    color: rgb(255, 255, 255);
    opacity: 0.24;
}

#custom-fan.maximum {
    color: rgb(255, 255, 255);
}

#custom-performance.performance {
    color: rgb(225, 165, 109);
}

#custom-performance.balance-performance {
    color: rgb(104, 145, 236);
}

#custom-performance.balance-power {
    color: rgb(255, 255, 255);
}

#custom-performance.power {
    color: rgb(255, 255, 255);
    opacity: 0.24;
}

#custom-speaker.off,
#custom-microphone.off {
    color: rgb(78, 9, 6);
}

#custom-speaker.muted,
#custom-microphone.muted {
    color: rgb(255, 255, 255);
    opacity: 0.24;
}

#custom-speaker.zero,
#custom-microphone.zero {
    color: rgb(255, 255, 255);
    opacity: 0.24;
}

#custom-speaker.low,
#custom-microphone.low {
    color: rgb(235, 117, 0);
}

#custom-speaker.medium,
#custom-microphone.medium {
    color: rgb(255, 184, 5);
}

#custom-speaker.high,
#custom-microphone.high {
    color: rgb(104, 145, 236);
}

#custom-speaker.critical,
#custom-microphone.critical {
    color: rgb(137, 28, 23);
}

#custom-bluetooth.off {
    color: rgb(255, 255, 255);
    opacity: 0.24;
}

#custom-bluetooth.on,
#custom-bluetooth.on-discoverable {
    color: rgb(255, 255, 255);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-bluetooth.on-paired,
#custom-bluetooth.on-discoverable-paired {
    color: rgb(107, 178, 106);
}

#custom-bluetooth.on-scan-paired,
#custom-bluetooth.on-discoverable-scan-paired {
    color: rgb(107, 178, 106);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-bluetooth.on-scan,
#custom-bluetooth.on-discoverable-scan {
    color: rgb(255, 255, 255);
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-wifi.off {
    color: rgb(255, 255, 255);
    opacity: 0.24;
}

#custom-wifi.on-disconnected {
    color: rgb(255, 255, 255);
    opacity: 0.24;
}

#custom-wifi.on-connected {
    color: rgb(104, 145, 236);
}

#custom-wifi.on-connected-good {
    color: rgb(255, 184, 5);
}

#custom-wifi.on-connected-fair {
    color: rgb(235, 117, 0);
}

#custom-wifi.on-connected-poor
#custom-wifi.on-connected-unknown {
    color: rgb(137, 28, 23);
}



