* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Mono";
    font-size: 12px;
    min-height: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

window#waybar.top {
    color: #ededed;
    background: transparent;
}

window#waybar.bottom {
    color: #ededed;
    background: transparent;
}

tooltip {
    background: rgba(0, 0, 0, 0.92);
    border-radius: 4px;
    padding: 64px;
}

tooltip label {
    color: #ededed;
}

.warning {
    color: #eb7500;
}

.critical {
    color: #e1756d;
}

#workspaces {
    color: #ededed;
    background: transparent;
}

#workspaces button {
    background: transparent;
    margin: 0;
    padding: 0;
    color: #ededed;
    background: transparent;
    opacity: 0.32;
}

#workspaces button:hover {
    color: #ededed;
    background: transparent;
}

#workspaces button.active {
    color: #ededed;
    background: transparent;
    opacity: 1;
}

#custom-battery.charging {
    color: #ededed;
}

#custom-battery.charging-warning {
    color: #fbcc70;
}

#custom-battery.charging-critical {
    color: #e1756d;
    animation-name: blink;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-battery.discharging {
    color: #ededed;
}

#custom-battery.discharging-warning {
    color: #fbcc70;
}

#custom-battery.discharging-critical {
    color: #e1756d;
    animation-name: blink;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-weather.extreme-cold {
    color: #a288f0;
}

#custom-weather.very-cold {
    color: #6891ec;
}

#custom-weather.cold {
    color: #60addc;
}

#custom-weather.cool {
    color: #6bb26a;
}

#custom-weather.mildly-cool {
    color: #68bba5;
}

#custom-weather.mild {
    color: #6bb26a;
}

#custom-weather.warm {
    color: #bbc068;
}

#custom-weather.warm-hot {
    color: #fbcc70;
}

#custom-weather.hot {
    color: #f49e66;
}

#custom-weather.extreme-hot {
    color: #e1756d;
}

#custom-weather.zero {
    color: #ededed;
}

#custom-waynot {
    margin: 16px;
    margin-top: 0px;
    margin-bottom: 12px;
    color: #ededed;
    animation-name: blink;
    animation-duration: 1000ms;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-gpu.hybrid {
    color: #ededed;
}

#custom-gpu.intel {
    color: #ededed;
    opacity: 0.24;
}

#custom-idle.on {
    color: #ededed;
}

#custom-idle.off {
    color: #ededed;
    opacity: 0.24;
}

#custom-fan.auto {
    color: #ededed;
    opacity: 0.24;
}

#custom-fan.maximum {
    color: #ededed;
}

#custom-performance.performance {
    color: #e1756d;
}

#custom-performance.balance-performance {
    color: #6891ec;
}

#custom-performance.balance-power {
    color: #ededed;
}

#custom-performance.power {
    color: #ededed;
    opacity: 0.24;
}

#custom-speaker.off,
#custom-microphone.off {
    color: #4e0906;
}

#custom-speaker.muted,
#custom-microphone.muted {
    color: #ededed;
    opacity: 0.24;
}

#custom-speaker.zero,
#custom-microphone.zero {
    color: #ededed;
    opacity: 0.24;
}

#custom-speaker.low,
#custom-microphone.low {
    color: #eb7500;
}

#custom-speaker.medium,
#custom-microphone.medium {
    color: #ffb805;
}

#custom-speaker.high,
#custom-microphone.high {
    color: #6891ec;
}

#custom-speaker.critical,
#custom-microphone.critical {
    color: #891c17;
}

#custom-bluetooth.off {
    color: #ededed;
    opacity: 0.24;
}

#custom-bluetooth.on,
#custom-bluetooth.on-discoverable {
    color: #ededed;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-bluetooth.on-paired,
#custom-bluetooth.on-discoverable-paired {
    color: #6bb26a;
}

#custom-bluetooth.on-scan-paired,
#custom-bluetooth.on-discoverable-scan-paired {
    color: #6bb26a;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-bluetooth.on-scan,
#custom-bluetooth.on-discoverable-scan {
    color: #ededed;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-wifi.off {
    color: #ededed;
    opacity: 0.24;
}

#custom-wifi.on-disconnected {
    color: #ededed;
    opacity: 0.24;
}

#custom-wifi.on-connected {
    color: #6891ec;
}

#custom-wifi.on-connected-good {
    color: #ffb805;
}

#custom-wifi.on-connected-fair {
    color: #eb7500;
}

#custom-wifi.on-connected-poor
#custom-wifi.on-connected-unknown {
    color: #891c17;
}



